__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
.Python
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
cover/
*.egg-info/
dist/
build/
.DS_Store
.env
.vscode/
